html {
  height: 100%;
}
body {
  margin: 0;
  font-family: Open Sans, Arial, sans-serif;
}
@media screen and (max-width: 769px) {
  body {
    font-size: 18px;
  }
}
@media screen and (min-width: 769px) {
  body {
    font-size: 27px;
  }
}
footer {
  position: fixed;
  text-align: center;
  font-size: 14px;
  bottom: 0;
  width: 100%;
}
.container {
  margin-top: 42px;
  width: 100%;
}
.home {
  width: 100%;
  text-align: center;
}
.window1 {
  height: 300px;
  background-color: white;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.appbar {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 2px #3d3d3d solid;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
  background-color: black;
  z-index: 1000;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}
.appbar a {
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
}
.appbar a:hover {
  background-color: #C5C5C5;
}
.appbar a:hover svg {
  color: white;
}
.appbar svg {
  text-align: center;
  font-size: 40px;
  color: #C5C5C5;
}
.Nav_selected {
  background-color: black;
}
.Nav_selected svg {
  color: white;
}
.navBar_hidden {
  -webkit-animation-name: navBar_hide_keyframes;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s;
  /* Safari 4.0 - 8.0 */
  animation-name: navBar_hide_keyframes;
  animation-duration: 3s;
  opacity: 0;
}
@-webkit-keyframes navBar_hide_keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes navBar_hide_keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
input,
textarea,
select,
button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 13.3333px Arial;
}
input,
textarea,
select,
button {
  -webkit-writing-mode: horizontal-tb;
}
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: 0;
}
.signinBg {
  background: #d0e4f7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d0e4f7 0%, #73b1e7 0%, #0a77d5 100%, #8bbae0 100%, #87bcea 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #d0e4f7 0%, #73b1e7 0%, #0a77d5 100%, #8bbae0 100%, #87bcea 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #d0e4f7 0%, #73b1e7 0%, #0a77d5 100%, #8bbae0 100%, #87bcea 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0e4f7', endColorstr='#87bcea', GradientType=0);
  /* IE6-9 */
}
.userSignin {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  font-family: Open Sans, Arial, sans-serif;
}
.userSignin .errorUsername {
  background: #356aa0;
  /* Old browsers */
  background: -moz-linear-gradient(top, #356aa0 0%, #356aa0 74%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #356aa0 0%, #356aa0 74%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #356aa0 0%, #356aa0 74%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#356aa0', endColorstr='#356aa0', GradientType=0);
  /* IE6-9 */
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  display: block;
  margin-bottom: 10px;
  color: white;
  align-items: center;
  display: none;
  line-height: 45px;
  height: 45px;
}
.userSignin .errorPassword {
  background: #356aa0;
  /* Old browsers */
  background: -moz-linear-gradient(top, #356aa0 0%, #356aa0 74%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #356aa0 0%, #356aa0 74%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #356aa0 0%, #356aa0 74%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#356aa0', endColorstr='#356aa0', GradientType=0);
  /* IE6-9 */
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  display: block;
  margin-bottom: 10px;
  color: white;
  align-items: center;
  display: none;
  line-height: 45px;
  height: 45px;
}
.userSignin form {
  padding-top: 28vh;
}
.userSignin form center {
  color: white;
  font-size: 150%;
  text-align: center;
}
.userSignin form input {
  transition: background-color 0.1s ease-in-out;
  border-radius: 10px;
  border: 4px solid transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 320px;
  font-size: 16px;
  border: none;
  padding: 0 10px;
  height: 45px;
  line-height: 40px;
  -webkit-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
}
.userSignin form button {
  display: block;
  margin: 12px 0 20px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding-top: 0;
  padding-bottom: 0;
  height: 45px;
  width: 100%;
  border: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  position: relative;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  background-color: #1caff6;
}
.userSignin form button:not(:disabled),
.userSignin form input[type=button]:not(:disabled),
.userSignin form input[type=reset]:not(:disabled),
.userSignin form input[type=submit]:not(:disabled) {
  cursor: pointer;
}
